<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- this allows us to store the base url independently of the code -->
		<add key="base_url" value="http://localhost:5001/api"/>
		<add key="api_key" value="SexLEYatCnW5x3lri//G6EnE3a9egpV3U2xIsLINR3M="/>
		<add key="api_token" value="/raHHLG3CkngPn73rvHVj1AsQpMxoJvD8Ck93GwnCK4="/>
		<add key="disabled_api_key" value="fjl5KAoIdOSYsuZw6P5Tso9zw0evbPWxuRxePf2kaXM="/>
		<add key="disabled_api_token" value="/RvsKwG0qzXUfTCk+uJ5/gqaMOFLF8EGofabQQRKYIE="/>

	</appSettings>
</configuration>